# Export occupancy data for each parking spot to Google Maps

In [1]:
import numpy as np
import pandas as pd

import json
import codecs

---

In [4]:
emplacements = pd.read_csv('../emplacement_gps.csv', sep=',', decimal=".")

In [5]:
emplacements.head()

  sNoEmplacement  nNoTroncon  longitude   latitude
0           G406           1 -73.571028  45.508322
1           G408           1 -73.570925  45.508273
2           G409           1 -73.570889  45.508256
3           G411           1 -73.570721  45.508175
4           G412           1 -73.570619  45.508130

In [6]:
emplacements.drop('sNoEmplacement', 1, inplace=True)
emplacements.drop('nNoTroncon', 1, inplace=True)
emplacements['occupancy'] = 1  # value between [1, 5]

In [7]:
emplacements = emplacements.reindex(columns=["latitude","longitude","occupancy"])

In [8]:
emplacements.head()

    latitude  longitude  occupancy
0  45.508322 -73.571028          1
1  45.508273 -73.570925          1
2  45.508256 -73.570889          1
3  45.508175 -73.570721          1
4  45.508130 -73.570619          1

In [14]:
emplacements.values

array([[ 45.508322, -73.571028,   1.      ],
       [ 45.508273, -73.570925,   1.      ],
       [ 45.508256, -73.570889,   1.      ],
       ...,
       [ 45.511877, -73.569864,   1.      ],
       [ 45.512401, -73.569645,   1.      ],
       [ 45.512401, -73.569645,   1.      ]])

In [15]:
len(emplacements.values)

1622

In [19]:
type(emplacements.values.tolist())

list

---

# save data to a json file

In [27]:
with open('./occupancies_google_maps.json', 'w') as outfile:
    json.dump({'occupancies': emplacements.values.tolist()}, outfile)